<div class="login-form-div vh-100">
  <div class="div-logo">
    <img src="assets/img/bujero_logo.png" alt="logo de la aplicación. Mano poniendo semillas en un agujero.">
  </div>

  <div class="form-login">
    <form class="form-floating form-login">
      <div class="form-floating mb-3 form-inputs">
        <input [(ngModel)]="email" name="email" type="email" class="form-control input-form" id="floatingInput" placeholder="name@example.com"><span class="fa fa-user errspan"></span>
        <label for="floatingInput" class="input-label">E-mail</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="password" name="password" type="password" class="form-control input-form" id="floatingPassword" placeholder="Password" ><span class="fa fa-key errspan"></span>
        <label for="floatingPassword" class="input-label">Contraseña</label>

      </div>
    </form>
  </div>
  <div class="div-btn-login" >
    <button type="button" class="btn btn-success" (click)="iniciarSesion()">Iniciar Sesión</button>
  </div>

  <div class="div-a-registrar">
    <label>¿No tienes cuenta aún?</label>
    <button type="button" class="btn btn-success btn-a-registrar" (click)="irRegistrar()">Regístrate</button>
  </div>

</div>
