<div class="register-form-div vh-100">
  <div class="div-logo">
    <img src="assets/img/bujero_logo.png" alt="logo de la aplicación. Mano poniendo semillas en un agujero.">
  </div>

  <div class="form-register">
    <form class="form-floating form-register">
      <div class="form-floating mb-3 form-inputs">
        <input type="email" class="form-control input-form" id="floatingInput" placeholder="name@example.com"><span class="fa fa-user errspan"></span>
        <label for="floatingInput" class="input-label">E-mail</label>
      </div>
      <div class="form-floating form-inputs">
        <input type="password" class="form-control input-form" id="floatingPassword" placeholder="Password" ><span class="fa fa-key errspan"></span>
        <label for="floatingPassword" class="input-label">Contraseña</label>
      </div>
      <div class="form-floating form-inputs" id="repeatPass">
        <input type="password" class="form-control input-form" id="floatingRepeatPassword" placeholder="Password" ><span class="fa fa-key errspan"></span>
        <label for="floatingPassword" class="input-label">Repite la contraseña</label>
      </div>
    </form>
  </div>
  <div class="div-btn-register">
    <button type="button" class="btn btn-success">Iniciar Sesión</button>
  </div>

  <div class="div-a-login">
    <label>¿No tienes cuenta aún?</label>
    <button type="button" class="btn btn-success btn-a-login">Regístrate</button>
  </div>

</div>
