/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
body{
    font-family: Fredoka;
}

.contenedor{
    padding-top: 18%;
    padding-bottom: 15%;
}
.divisionb{
    border-bottom: 3px solid #3E6723;
    padding-bottom: 10px;
}
