<div class="packtodo row mx-auto g-5 contenedor my-auto pb-5 contenedor px-3">
    <div class="packtodo1 col-6 my-auto flex-column justify-content-center align-items-center " *ngFor="let item of plantasEstaciones">
        <div class="botones-container">
            <img *ngIf="!comprobarMisCultivos(item) "src="assets/img/seedling-regular.png"  class="planta-sin-relleno" (click)="seedClicked(item)">
            <img *ngIf="comprobarMisCultivos(item)" src="assets/img/seedling-solid.png" class="planta-relleno" (click)="seedClicked(item)">

            <i *ngIf="!comprobarFavorito(item)" class="star-sin-relleno fa-regular fa-star fa-2x" style="color: #3E6723;"  (click)="starClicked(item)"></i>
            <i *ngIf="comprobarFavorito(item)" class="star-relleno fa fa-star fa-2x" style="color: #3E6723;"  (click)="starClicked(item)"></i>
        </div>
        <img class="img-plant" src ={{item.imagenes[0]}} alt="Imagen de la planta" (click)="mostrarPlanta(item)">
        <p class="text-center">{{ item.nombre }}</p>
    </div>
    <div *ngIf="plantasEstaciones.length === 0" class="text-center">
        <h1 class="fw-bold">No hay plantas en esta estación</h1>
        <img src="assets/img/bujero_logo.png" alt="Bujero" class="img-fluid">
    </div>
</div>