

<!-- Top Navbar-->
  <nav class="top-nav-bar fixed-top">
    <div class="d-flex justify-content-between col-sm-12 ">
      <a href="#home" class="col-lg-3"><i class="fa fa-fw fa-chevron-left fa-2x" style="color: #3e6723;"></i></a>
      <h1 class="fw-bold">HOME</h1>
      <a href="#mycrops" class="col-lg-3"><i class="fa fa-fw fa-user fa-2x" style="color: #3e6723;"></i></a>
    </div>
  </nav>

  <!-- Center elements -->

  <router-outlet></router-outlet>



    <!-- Bottom Navbar-->
    <nav class="btm-nav-bar fixed-bottom">
      <div class="d-flex justify-content-around col-sm-12 ">
        <a href="#home" class="col-lg-3"><i class="fa fa-fw fa-home fa-2x" style="color: #3e6723;"></i></a>
        <a href="#search" class="col-lg-3"><i class="fa fa-fw fa-search fa-2x" style="color: #3e6723;"></i></a>
        <a href="#fav" class="col-lg-3"><i class="fa fa-fw fa-star fa-2x" style="color: #3e6723;"></i></a>
        <a href="#mycrops" class="col-lg-3"><i class="fa fa-fw fa-seedling fa-2x" style="color: #3e6723;"></i></a>
      </div>
    </nav>

