<div class="row mx-auto g-5 vh-100 contenedor my-auto pb-5">
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center pt-3">
        <a href="#estacion/primavera"><img src="assets/img/spring.avif" alt="Logo" class="img-fluid" (click)="changePrimavera()"></a>
        <p class="text-center fs-3 fw-bold">Primavera</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center pt-3">
        <a href="#estacion/verano"><img src="assets/img/summer.png" alt="Logo" class="img-fluid"  (click)="changeVerano()"></a>
        <p class="text-center fs-3 fw-bold">Verano</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center">
        <a href="#estacion/otoño"><img src="assets/img/autumn.png" alt="Logo" class="img-fluid" (click)="changeOtonio()"></a>
        <p class="text-center fs-3 fw-bold">Otoño</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center">
        <a href="#estacion/invierno"><img src="assets/img/winter.png" alt="Logo" class="img-fluid" (click)="changeInvierno()"></a>
        <p class="text-center fs-3 fw-bold">Invierno</p>
    </div>
    <div class="col-12 my-auto d-flex flex-column justify-content-center align-items-center">
        <a href="#estacion/todas"><img src="assets/img/seasons.webp" alt="Logo" class="img-fluid" (click)="changeTodasEstaciones()"></a>
        <p class="text-center mb-5 fs-3 fw-bold">Todas las estaciones</p>
    </div>
</div>
