<div class="row mx-auto g-5 vh-100 contenedor my-auto pb-5">
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center pt-3">
        <a (click)="estacion('Primavera')" (click)="changePrimavera()"><img src="assets/img/spring.avif" alt="Logo" class="img-fluid"></a>
        <p class="text-center fs-3 fw-bold">Primavera</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center pt-3">
        <a (click)="estacion('Verano')" (click)="changeVerano()"><img src="assets/img/summer.png" alt="Logo" class="img-fluid" ></a>
        <p class="text-center fs-3 fw-bold">Verano</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center">
        <a (click)="estacion('Otoño')" (click)="changeOtonio()"><img src="assets/img/autumn.png" alt="Logo" class="img-fluid" ></a>
        <p class="text-center fs-3 fw-bold">Otoño</p>
    </div>
    <div class="col-6 my-auto d-flex flex-column justify-content-center align-items-center">
        <a (click)="estacion('Invierno')" (click)="changeInvierno()"><img src="assets/img/winter.png" alt="Logo" class="img-fluid"></a>
        <p class="text-center fs-3 fw-bold">Invierno</p>
    </div>
    <div class="col-12 my-auto d-flex flex-column justify-content-center align-items-center">
        <a (click)="estacion('todas')" (click)="changeTodasEstaciones()"><img src="assets/img/seasons.webp" alt="Logo" class="img-fluid" ></a>
        <p class="text-center mb-5 fs-3 fw-bold">Todas las estaciones</p>
    </div>
</div>
