<div class="row m-4 g-4">
    <div class="col-6">
        <img src="assets/img/spring.avif" alt="Logo" class="img-fluid">
        <p class="text-center">Primavera</p>
    </div>
    <div class="col-6">
        <img src="assets/img/summer.png" alt="Logo" class="img-fluid">
        <p class="text-center">Verano</p>
    </div>
    <div class="col-6">
        <img src="assets/img/autumn.png" alt="Logo" class="img-fluid">
        <p class="text-center">Otoño</p>
    </div>
    <div class="col-6">
        <img src="assets/img/winter.png" alt="Logo" class="img-fluid">
        <p class="text-center">Invierno</p>
    </div>
    <div class="col-12">
        <img src="assets/img/seasons.webp" alt="Logo" class="img-fluid">
        <p class="text-center">Invierno</p>
    </div>

</div>