<div class="contenedor">
    <div *ngFor="let item of plantasFavoritas; let i = index" class="card-mis-cultivos" >
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="div-img-planta d-flex flex-column justify-content-center align-items-center" >
                <div class="div-img-planta-nombre d-flex flex-row justify-content-between align-items-center">
                    <img *ngIf="!comprobarMisCultivos(item)" src="/assets/img/seedling-regular.png" class="seed" (click)="seedClicked(item)">
                    <img *ngIf="comprobarMisCultivos(item)" src="/assets/img/seedling-solid.png" class="seed" (click)="seedClicked(item)">
                    <h3 class="fw-bold">{{item.nombre}}</h3>
                    <i *ngIf="!comprobarFavorito(item)" class="fa-regular fa-star fa-2x" style="color: #3E6723;" (click)="starClicked(item)"></i>
                    <i *ngIf="comprobarFavorito(item)" class="fa-solid fa-star fa-2x" style="color: #3E6723;" (click)="starClicked(item)"></i>
                </div>
                <div class="div-img-planta-img" (click)="mostrarPlanta(item)">
                    <img id="img-planta" src="{{item.imagenes[0]}}" alt="imagen de planta {{item.nombre}}">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="plantasFavoritas.length === 0" class="text-center">
        <h1 class="fw-bold">No hay plantas en favoritos</h1>
        <i class="fa-regular fa-star fa-3x" style="color: #3E6723;"></i>
    </div>
</div>
