
<div  class="card-mis-cultivos">
  <h2>Agregada: {{fecha_agregada}}</h2>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="div-img-planta d-flex flex-column justify-content-center align-items-center">
      <div class="div-img-planta-nombre d-flex flex-row justify-content-between">
        <i class="fa fa-seedling fa-lg"></i>
        <h3>{{nombre}}</h3>
        <i class="fa fa-star fa-lg"></i>
      </div>
      <div class="div-img-planta-img">
        <img  id="img-planta" src="{{imagen_planta}}" alt="imagen de planta {{nombre}}">
      </div>
    </div>

    <div class="div-info-planta">
      <h4>Regado de hoy</h4>
      <div class="d-flex flex-row justify-content-around">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckManiana" [checked]="maniana_check">
          <label class="form-check-label" for="flexCheckManiana">
            Mañana
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckTarde" [checked]="tarde_check">
          <label class="form-check-label" for="flexCheckTarde">
            Tarde
          </label>
        </div>
      </div>
      <h4 id="heading-notas">Notas</h4>
      <div class="form-floating div-notas">
        <textarea class="form-control" placeholder="Leave a comment here" style="height: 150px">{{nota}}</textarea>
      </div>
    </div>
  </div>
</div>

