
.div-logout{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-logo-user{
  width: 195px;
  margin-bottom: 2vh;
}
.div-logo-user img{
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
}

.div-boton-logout{
  width: 80vw;
  height: 5vh;
}

.div-faqs{
  margin-top: 80px;
}


