<div class="vh-100 contenedor">
  <div class="div-logout">
    <div class="div-logo-user">
      <img src="assets/img/user.avif" alt="logo de la aplicación. Mano poniendo semillas en un agujero.">
    </div>

    <div class="div-boton-logout d-flex flex-column justify-content-center align-items-center">
      <button type="button" class="btn btn-danger" (click)="logOut()">Cerrar Sesión</button>
    </div>

    <div class="div-faqs d-flex flex-column justify-content-center align-items-center">
      <h4>¿Tienes alguna duda?</h4>
      <h4>Accede aquí:</h4>
      <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4" target="_blank" class="btn btn-primary">FAQS</a>
    </div>

  </div>
</div>
